@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
   

}
/* body{
    overflow: hidden;
} */

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --bs-secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1, h2,h3,h4,h5{
    font-family: 'Urbanist', sans-serif;
    color: var( --bs-dark-color);
}

h1{
    font-size: 3.8rem;
    font-family: 'Urbanist', sans-serif;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 2.4rem;
    font-family: 'Urbanist', sans-serif;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem!important;
}

.common-title {
    margin-bottom: 4.2rem;
}

.bg-color{
    background-color: var(--bs-dark-primary);
}
.nav-link{
    color: var(--bs-main-color)!important;
   
}
.nav-link:hover{
    color: var(--bs-secondary-color)!important;
}

.bg-main{
    height: 80vh;
    position: relative;
}
.common-section{
    padding: 0 0 9rem 0;
}


.services-section{
    padding: 6rem 0 3rem 0!important;
}
.card-box{
    background-color: var(--bs-main-color);
}
.card-box:hover{
    box-shadow: var(--bs-secondary-color)
}
.footer{
    display: flex;
    padding: 23px 120px;
    justify-content: space-evenly;
}
footer .footer-rights{
    margin-top: 0vh;
    text-align: center;
    /* color: var(--bs-dark-color); */
    padding: 35px 0;
}